<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729822476188-0ipvtcjir5t5gk8t8km36h0pbcnj3705.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729822476188-0ipvtcjir5t5gk8t8km36h0pbcnj3705</string>
	<key>API_KEY</key>
	<string>AIzaSyCGtPI3OlOvQ51zHnCu1vJKGlyZrinUOoI</string>
	<key>GCM_SENDER_ID</key>
	<string>729822476188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitrise.test.BitriseTest</string>
	<key>PROJECT_ID</key>
	<string>testios-b53af</string>
	<key>STORAGE_BUCKET</key>
	<string>testios-b53af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729822476188:ios:70b0808e590217c154fa59</string>
</dict>
</plist>